<%= link_to competition_path(competition), class: "bg-white d-block p-3 rounded border-dotted border-info w-100 max-width-sm mx-auto" do %>
  <div class="w-100 mb-3">
    <p class="text-truncate fw-bold"><%= (DateTime.current.to_date - competition.end_date.to_date).to_i %> days ago</p>

    <div class=" w-100 d-flex justify-content-evenly align-items-center mt-3">
      <% current_user.family.users.each do |user| %>
        <%= render "competitions/users_scores/user_small", user: user, competition: competition %>
      <% end %>
    </div>
  </div>
<% end %>
