// Define variables for your color scheme

// For example:
$red: #ef4361;
$blue: #118ab2;
$yellow: #FFBE2F;
$orange: #E38902;
$green: #75C6B1;
$gray: #868480;
$light-gray: #ECECEC;
$black: #191919;
$white: #FFFFFF;
