<div>
  <h1>Tasks</h1>
  <ul>
    <% @tasks.each do |task| %>
      <li>
        <%= task.title %>
        (<%= task.content %>)
        <div class="task-options">
          <% if task.user.nil? %>
            <span class="unassigned-task">Not Assigned</span>
            <%= button_to 'Add To To-Do List', assign_task_path(task), remote: true, method: :post, class: 'add-to-do-link' %>
          <% else %>
            User <%= task.user_id %> is assigned to this event.
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
