<%= link_to competition_path(competition), class: "bg-canceled d-block p-3 rounded border-dotted border-secondary" do %>
  <div class="dates w-100 mb-3">
    <p class="text-truncate fw-bold"><%= competition.start_date.strftime "%d/%m/%y" %> - <%= competition.end_date.strftime "%d/%m/%y" %></p>

    <div class="d-flex justify-content-evenly align-items-center mt-3">
      <% @family.users.each do |user| %>
        <%= render "shared/user_winner", user: user, competition: competition %>
      <% end %>
    </div>
  </div>
<% end %>
