<div class="current-competition d-flex flex-column align-items-center">
  <h2 class="heading-container">
    Current competition
    <span class="material-symbols-outlined heading-illustration-icons">
      trophy
    </span>
  </h2>

  <% if @current_competition %>
    <%= render "competitions/cards/competition_card", competition: @current_competition, counter: true %>
  <% else %>
    <div class="position-relative border-dotted border-secondary rounded w-100 max-width-md" style="min-height: 200px">
      <%= render "shared/no_current_competition" %>
    </div>
  <% end %>
</div>

<div class="old-competitions mt-4 d-flex flex-column align-items-center">
  <h2 class="heading-container">
    Old competitions
    <span class="material-symbols-outlined heading-illustration-icons">
      history
    </span>
  </h2>

  <% unless @old_competitions.empty? %>
    <div data-controller="swiper" class="w-100" style="height: 230px">
      <swiper-container class="mySwiper h-100 max-width-sm"
                        pagination="true"
                        pagination-dynamic-bullets="true"
                        effect="cards"
                        cards-effect-per-slide-offset="4"
                        cards-effect-slide-shadows="false">

        <% @old_competitions.each do |competition| %>

          <swiper-slide class="p-1">
            <%= render 'competitions/cards/past_competitions_card', competition: competition %>
          </swiper-slide>

        <% end %>
      </swiper-container>
    </div>
  <% else %>
    <p class="fst-italic text-ligth mt-3">You don't have old competition</p>
  <% end %>
</div>


<% if @current_competition %>
  <div class="d-flex justify-content-center py-5">
    <%= link_to "Delete current competition", competition_path(@current_competition), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-outline-danger" %>
  </div>
<% end %>
