<div class="d-flex flex-column align-items-center mt-3">
  <div class="border-dotted border-secondary rounded d-flex flex-column align-items-center p-3 w-100 max-width-sm">
    <h2>Your rival sends you a code ?</h2>
    <%= simple_form_for @code, url: join_family_path, method: :get,html: {class: "d-flex flex-column align-items-center" } do |f| %>
      <div class="form-inputs">
        <%= f.input :code,
                    label: "Enter the code:",
                    required: true,
                    autofocus: true,
                    input_html: { class: "bg-white" }%>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Join family", class: "btn btn-secondary" %>
      </div>
    <% end %>
  </div>

  <h3 class="my-4">OR</h3>

  <div class="border-dotted border-secondary rounded d-flex flex-column align-items-center p-3 w-100 max-width-sm">
    <h2>Create your family</h2>

    <%= link_to "Generate a code", create_family_path, method: :post, class: "btn btn-secondary" %>

  </div>
</div>
