<div class="position-absolute top-50 start-50 translate-middle d-flex align-items-center flex-column">
  <p class="fst-italic mb-3 text-truncate">No current competition</p>
  <%= link_to "New competition", new_competition_path, class: "btn btn-secondary" %>
</div>
