<div class="d-flex flex-column justify-content-center align-items-center">
  <% score = user.scores.where(competition: competition).first.score %>
  <% other_user = User.where(couple: user.couple).where.not(id: user.id).first %>
  <% other_score = other_user.scores.where(competition: competition).first.score %>
  <p>
    <strong><%= user.first_name %></strong>
  </p>
  <div class="position-relative">
    <% if other_score < score %>
      <%= image_tag "crown.svg", alt: "user's crown", style: "width: 20px;", class: "position-absolute", style: "top: -2px; left: -10px" %>
    <% end %>
    <i class="ri-account-circle-line " style="font-size: 3rem"></i>
  </div>
  <p>
    <strong><%= user.scores.where(competition: competition).first.score %></strong>
  </p>
</div>
