// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

a {
  text-decoration: none;
}
p {
  margin: 0px ;
}

.navbar {
  box-shadow: 0px 0px 10px 3.2px rgba(134, 132, 128, 0.25);
}

.on-active:active {
  transform: scale(0.9);
  transition: transform 0.1s ease;
  user-select: none;
}

.border-dotted {
  border: 5px dotted black;
}
.border-top-dotted {
  border-top: 5px dotted black;
}
.border-bottom-dotted {
  border-bottom: 2px dotted black;
}
/* Progress bar design. To use it on the scoreboard, please take the HTML below.
Exemple for a 25% progress:
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div> */
.progress {
  border-radius: 10px;
  background: $primary;
}
.progress-bar {
 background: $secondary;
}

hr.divider {
  height: 0.2rem;
  max-width: 3.25rem;
  margin: 1.5rem auto;
  background-color: $secondary;
  opacity: 1;
  border-color: transparent;
}

p.landing {
  font-size: 24px;
  font-weight: 800;
  line-height: 24px;
}

.nav-active-link {
  font-variation-settings: 'wght' 266;
  font-weight: 500;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: $secondary;
    top: -4px;
  }
}

:root {
  --swiper-pagination-color: #FFBE2F;
}

.bg-disable {
  background-color: #F3F3F3;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 20 20'%3E%3Cg %3E%3Cpolygon fill='%23FFFFFF' points='20 10 10 0 0 0 20 20'/%3E%3Cpolygon fill='%23FFFFFF' points='0 10 0 20 10 20'/%3E%3C/g%3E%3C/svg%3E");
}

.switch {
  .switch-btn-inactive {
    background-color: black;
    color: black;
    border-radius: 10px;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    padding: 0.7rem;
    width: 125px;
    white-space: nowrap;

    &:before {
      content: attr(data-btn);
      color: black;
      position: absolute;
      top: -3px;
      left: -3px;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      background-color: $secondary;
    }

    &:active:before {
      top: 0;
      left: 0;
      box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.815) inset;
    }

  }

  .switch-btn-active {
    background-color: black;
    color: black;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    padding: 0.7rem;
    width: 125px;
    white-space: nowrap;

    &:before {
      content: attr(data-btn);
      color: black;
      position: absolute;
      top: 0;
      left: 0;
      box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.815) inset;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      background-color: $light-gray;
    }
  }
}

.max-width-sm {
  max-width: 400px;
}
.max-width-md {
  max-width: 600px;
}
.max-width-lg {
  max-width: 800px;
}

.fs-7 {
  font-size: 0.9rem !important;
}

.todo-check-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 10px;
}

.material-symbols-outlined {
  font-size: 40px !important
}

.site-content {
  padding-top: 16px; /* Ajustez la valeur selon vos besoins */
  padding-bottom: 16px; /* Ajustez la valeur selon vos besoins */
  padding-left: 20px;
  padding-right: 20px;
}

.branded-header {
height: 65px;
padding: 8px 24px;
}

.heading-container {
  text-align: center;
}

.heading-illustration-icons {
  transform: rotate(10deg) translateY(5px);
  color: $secondary;
  font-size: 30px !important;
  font-variation-settings: 'FILL' 1;
}

.alert {
  position: absolute;
  bottom: 5rem;
}

.dropdown-toggle::after {
  content: none;
}

*::-webkit-scrollbar {
  width: 4px;               /* width of the entire scrollbar */
  height: 4px;               /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(224, 224, 224);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}

* {
  scrollbar-width: thin;          /* "auto" or "thin" */
}
